* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #b068e9, #6463e7);
    width: 100%;
    min-height: 100vh;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 26rem;
}

#main-container {
    background-color: white;
    margin-bottom: 9rem;
    border-radius: 23px;
    position: relative;
    padding-top: 8.25rem;
    padding-bottom: 3rem;
    box-shadow: 0px 50px 50px -20px rgb(53 18 122 / 49.72%);
    height: 38rem;
}

.box {
    display: none;
}

.illustration {
    max-width: 21rem;
    background-image: url(./images/illustration-woman-online-mobile.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    height: 15rem;
    position: relative;
    top: 6rem;
    z-index: 1;
}

.pattern {
    width: 100%;
    position: relative;
    top: 7rem;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    color: rgba(30, 31, 54, 1);
    line-height: 36.69px;
    text-align: center;
    margin-bottom: 2.5rem;
}

#questions {
    width: 86%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.question-box {
    border-bottom: 1px solid #e8e8ea;
    display: flex;
    flex-direction: column;
}

.question-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding-bottom: 1rem;
}

.arrow {
    width: auto;
    height: auto;
}

h3 {
    font-weight: 400;
    font-size: 1em;
    line-height: 16.12px;
    color: var(--independence-color);
}

h3:hover {
    color: #F47B56;
}

.answer {
    display: none;
}

.active .answer {
    display: block;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 18px;
    padding-bottom: 1rem;
    color: rgba(75, 76, 95, 1);
    transition: all 0.3s ease-in;
}

.active img {
    transform: rotate(180deg);
    transition: all 0.2s ease-in;
}

.active .question {
    font-weight: 700;
    color: rgba(30, 31, 54, 1);
}